* {
    background-color: #121212;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#cipher-input {
    background-color: lightgoldenrodyellow;
    color:black;
}

#centered-div {
    margin-top: 3rem;
    justify-content: center;
    text-align: center;
}

#centered-div input {
    margin-top: 1rem;
}

#result-div {
    visibility: hidden;
    margin-top: 3rem;
    width:100%;
    height:100%;
    text-align: center;
}

#cipher-res-table {
    margin: 0 auto;
}

#submit-btn {
    background-color: black;
    color: white;
    font-weight: bold;
}

td {
    letter-spacing: 0.5rem;
    line-height: 2rem;
}